@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
.header
{
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1f2937;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.right{
    color: rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 32px;
}

.img-right
{
    max-width: 50%;
    min-width: 300px;
    height: auto;
    display: block;
}

.img-rightw
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

p
{
    font-size: 18px ;
    font-weight: normal;
    color: rgb(177, 177, 177);
}

.header-left
{
    color: white;
    font-size: large;
    font-weight: bold;
}

.main-left
{
    color: white;
    max-width: 450px;
}

h1 
{
    max-width: 100%;
}

.hero
{
    background-color: #1f2937;
}

button
{
    background-color: #3882f6;
    color:white;
    padding: 8px 24px;
    border: none;

}